In [2]:
import numpy as np
import pandas as pd

In [3]:
frame = pd.read_csv("C:/Users/12036/Downloads/Data_1.csv")

frame

   X   Y
0  1   7
1  2   9
2  3  12
3  4  15
4  5  16

In [8]:
XX = frame['X']
YY = frame['Y']

In [10]:
z = np.ones((np.shape(XX)[0], 1))

XX_new = np.column_stack((z, XX))

In [11]:
print(np.shape(XX_new))

print(np.shape(YY))

XX_new_T = np.transpose(XX_new)
print(np.shape(XX_new_T))

(5, 2)
(5,)
(2, 5)

In [12]:
x = np.matmul((np.transpose(XX_new)), XX_new)

y = np.matmul(np.transpose(XX_new), YY)

zz = np.linalg.inv(x)

T_theta = np.matmul(zz, y)


T_theta

array([4.6, 2.4])